/* //Navbar Style  */

.navbar {
    width: 100%;
    height: 40px;

    color: #fbfafa;
}

.LinkTag {
    text-decoration: none;
    margin: 0 10px;
    font-weight: 700;
    font-size: 15px;
    color: rgb(240, 240, 240);
}

.logo {}